
// Typography Variables
$text-color: #333;
$link-color: #222;
$hr-color: #ccc;

$baseline: 1.4rem; //22px

$body-font-family: 'Nexa Light', sans-serif;
$header-font-family: 'Nexa Regular', sans-serif;
$header-font-weight: 400;
$body-font-weight: 200;

$p-size: em(16); 

$h5-h6-letter-spacing: 1.2;


// AUGMENTED FOURTH //
$h1-size: em(63); 
$h2-size: em(45); 
$h3-size: em(31); 
$h4-size: em(22); 
$h5-size: em(16); 
$h6-size: em(12);


// COLORS
$base-white: #F6F6F6;


// BOX SHADOWS
$shadow-z-2: 0 em(2) em(2) 0 rgba(0,0,0,0.20), 0 em(6) em(10) 0 rgba(0,0,0,0.30);
$shadow-z-3: 0 em(11) em(7) 0 rgba(0,0,0,0.19), 0 em(13) em(25) 0 rgba(0,0,0,0.30);


