
// Typography Variables
$text-color: #333;
$link-color: #222;
$hr-color: #ccc;

$baseline: 1.4rem; //22px

$body-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-weight: 700;
$body-font-weight: 400;

$p-size: em(16); 

$h5-h6-letter-spacing: 1.2;

// PERFECT FOURTH //
// $h1-size: em(50); 
// $h2-size: em(37); 
// $h3-size: em(28); 
// $h4-size: em(21); 
// $h5-size: em(16); 
// $h6-size: em(12);


// AUGMENTED FOURTH //
$h1-size: em(63); 
$h2-size: em(45); 
$h3-size: em(31); 
$h4-size: em(22); 
$h5-size: em(16); 
$h6-size: em(12);


// PERFECT FIFTH //
// $h1-size: em(81); 
// $h2-size: em(54); 
// $h3-size: em(36); 
// $h4-size: em(24); 
// $h5-size: em(16); 
// $h6-size: em(12);


