@import "../../settings/_settings.scss";

$max-1501: "only screen and (max-width : 1501px)";
$max-1101: "only screen and (max-width : 1100px)";
$max-880: "only screen and (max-width : 880px)";
$max-601: "only screen and (max-width : 601px)";
$max-481: "only screen and (max-width : 481px)";
$max-430: "only screen and (max-width : 26.875em)";

section.bio {
	position: relative;
	height: em(530);
	background: black url('/img/index/bio/echoes-of-time.jpg') left center/50% no-repeat;

	article.verbiage {
		width: 50%;
		float: right;
		height: 100%;

		// top: 0;
		// position: absolute;
		// height: 100%;
		// right: 0;

		background: $base-white;
		padding: rem(30) rem(30) 0 rem(30);

		p {
			font-size: rem(22);
		}
	}

	@include media($large) { // 1000px
		height: em(630);
		background-size: auto 100%;

		article.verbiage {
			h2 {
				font-size: rem(40);
			}
		}
	}

	@media #{$max-880} {
		// height: em(650);

		article.verbiage {
			padding: rem(20) rem(24) 0 rem(24);

			h2 {
				font-size: rem(34);
			}
		}
	}

	@include media($medium) { // 750px
		background: black url('/img/index/bio/echoes-of-time_mobile.jpg') center top/100% auto no-repeat;
		// background: url('/img/index/bio/all-points-west@mobile.jpg') no-repeat;
		// background-position: top;
		height: auto;
		// padding-top: em(300);
		padding-top: rem(280);

		aside {
			position: relative !important;
			top: 0;
			left: 0;
			padding-left: 3%;

			a {
				color: #fff;
			}
		}

		article.verbiage {
			// position: inherit;
			// height: auto;
			float: none;
			width: 100%;
			text-align: center;
			
			p {
				font-size: rem(20);
			}
		}
	}

	@media #{$max-601} {
		padding-top: em(200);

		article.verbiage {
			h2 {
				font-size: rem(30);
			}

			p {
				font-size: rem(18);
			}
		}
	}

	@media #{$max-430} {
		background: black url('/img/index/bio/echoes-of-time_mobile.jpg') left top/auto 200px no-repeat;

		article.verbiage {
			h2 {
				font-size: rem(26);
			}
			
			p {
				font-size: rem(16);
			}
		}
	}
}