@import "../../settings/_settings.scss";

$max-880: "only screen and (max-width : 880px)";

body#index {
	footer {
		position: relative;
		width: 100%;
		height: em(230);

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.contact-info,
		.footer-menu {
			position: absolute;
			height: 100%;
			width: 50%;

			h5 {
				margin-bottom: rem(20);
				text-transform: none;
				font-size: rem(18);
			}
		}

		.contact-info {
			left: 0;
			padding: em(80) 0 0 em(40);
		}

		.footer-nav {
			right: 0;
			text-align: right;
			padding: em(80) em(40) 0 0;

			ul {
				display: block;
				margin: 0;
				padding: 0;
				list-style-type: none;
				margin-bottom: rem(20);
				font-size: rem(18);

				li {
					display: inline-block;
					margin-right: rem(35);
				}

				li#last {
					margin-right: 0;
				}
			}

			h5 {
				text-transform: none;
			}
		}

		@include media($large) {
			.footer-nav {
				ul {
					li {
						margin-right: rem(20);
					}
				}
			}
		}

		@media #{$max-880} {
			height: em(200);

			.contact-info {
				padding: em(50) 0 0 em(24);
			}

			.footer-nav {
				padding: em(50) em(24) 0 0;
			}

			h5,
			.footer-nav ul li {
				font-size: rem(16);
			}
		}
	}
}