@import "../../settings/_settings.scss";

.gallery-link {
	color: #fff;
	position: relative;

	h2 {
		font-size: rem(32);
		letter-spacing: $h5-h6-letter-spacing;
		font-weight: $body-font-weight;
	}

	h3.gallery-title {
		font-size: rem(40);
	}

	.angled-div {
		background: #4A4A4A;
		height: 100%;
		width: em(250);	
	}

	@include media($large) {
		h2 {
			font-size: rem(28);
		}
		h3.gallery-title {
			font-size: rem(35);
		}
		.angled-div {
			width: 15%;
		}
	}
}

.gallery-link#linear-abstraction {
	height: em(460);
	background: url('/img/index/gallery-link/linear-abstraction/lost-in-transit.jpg') no-repeat;
	background-position: left top;
	border-bottom: em(20) solid #4a4a4a;

	.verbiage {
		text-align: right;
		position: absolute;
		right: 0;
		padding: em(140) em(40) 0 0;
		z-index: 10;
	}

	.angled-div {
		right: 0;
		top: 0;
		margin-left: em(150);
	}
	.angled-div:after {
		left: -150px;
		top: 0;
	    border-top: 460px solid #4a4a4a;
	    border-bottom: 0 solid transparent;
	    border-left: 150px solid transparent;
	    border-right: 0 solid transparent;
	}

	aside {
		position: absolute;
		bottom: em(16);
		left: em(30);
	}

	@include media($large) {
		.verbiage {
			padding-top: em(60);
		}
	}
}

.gallery-link#lyrical-abstraction {
	height: em(420);
	background: url('/img/index/gallery-link/lyrical-abstraction/netherworld.jpg') no-repeat;
	background-position: right top;
	border-bottom: em(20) solid #4a4a4a;

	.verbiage {
		text-align: left;
		position: absolute;
		left: 0;
		padding: em(140) 0 0 em(40);
		z-index: 10;
	}

	.angled-div {
		left: 0;
		top: 0;
		margin-right: em(150);
	}
	.angled-div:after {
		right: -150px;
		top: 0;
	    border-top: 0 solid transparent;
	    border-bottom: 420px solid #4a4a4a;
	    border-left: 0 solid transparent;
	    border-right: 150px solid transparent;
	}

	aside {
		position: absolute;
		right: em(30);
		top: em(30);
	}

	@include media($large) {
		.verbiage {
			padding-top: em(270);
		}
	}
}

