@import "../../settings/_settings.scss";

$max-1501: "only screen and (max-width : 1501px)";
$max-481: "only screen and (max-width : 481px)";


.gallery-link {
	position: relative;

	a {
		color: #fff;

		&:hover {
			h2,
			h3 {
				text-decoration: underline;
			}
		}
	}

	h2 {
		font-size: rem(32);
		font-weight: $body-font-weight;
	}

	h3.gallery-title {
		font-size: rem(40);
	}

	.angled-div {
		background: #4A4A4A;
		height: 100%;
		width: 20%;
	}

	@include media($large) {
		h2 {
			font-size: rem(28);
		}
		h3.gallery-title {
			font-size: rem(35);
		}
		.angled-div {
			width: 15%;
		}
	}

	@media #{$max-481} {
		.verbiage {
			h2 {
				font-size: rem(22);
			}

			h3 {
				font-size: rem(30);
			}
		}
	}
}

.gallery-link#linear-abstraction {
	height: em(460);
	border-bottom: em(20) solid #4a4a4a;

	background: url('/img/index/gallery-link/linear-abstraction/lost-in-transit.jpg') no-repeat;
	background-position: left top;
	
	background-size: 85%;

	@media #{$max-1501} {
		background-size: inherit;
	}

	.verbiage {
		text-align: right;
		position: absolute;
		right: 0;
		padding: em(140) em(40) 0 0;
		z-index: 10;
	}

	.angled-div {
		right: 0;
		top: 0;
		margin-left: em(150);
	}
	.angled-div:after {
		left: -150px;
		top: 0;
	    border-top: 460px solid #4a4a4a;
	    border-bottom: 0 solid transparent;
	    border-left: 150px solid transparent;
	    border-right: 0 solid transparent;
	}

	@include media($large) {
		.verbiage {
			padding-top: em(60);
		}
	}

	@include media($small-plus) {
		height: em(300);

		.verbiage {
			padding: 0;
			top: em(40);
			right: em(40);
		}

		.angled-div {
			margin-left: em(100);
		}

		.angled-div:after {
			left: -100px;
			border-top: 300px solid #4a4a4a;
			border-left: 100px solid transparent;
		}
	}

	@media #{$max-481} {
		.verbiage {
			right: 5%;
		}

		aside {
			left: rem(12);
			bottom: rem(4);
		}
	}
}

.gallery-link#lyrical-abstraction {
	height: em(420);
	border-bottom: em(20) solid #4a4a4a;

	background: url('/img/index/gallery-link/lyrical-abstraction/netherworld.jpg') no-repeat;
	background-position: right top;

	background-size: 85%;

	@media #{$max-1501} {
		background-size: inherit;
	}

	.verbiage {
		text-align: left;
		position: absolute;
		left: 0;
		padding: em(140) 0 0 em(40);
		z-index: 10;
	}

	.angled-div {
		left: 0;
		top: 0;
		margin-right: em(150);
	}
	.angled-div:after {
		right: -150px;
		top: 0;
	    border-top: 0 solid transparent;
	    border-bottom: 420px solid #4a4a4a;
	    border-left: 0 solid transparent;
	    border-right: 150px solid transparent;
	}

	@include media($large) {
		.verbiage {
			padding-top: em(270);
		}
	}

	@include media($small-plus) {
		height: em(300);

		.verbiage {
			padding: 0;
			top: em(180);
			left: em(40);
		}

		.angled-div {
			margin-right: em(100);
		}

		.angled-div:after {
			right: -100px;
			border-bottom: 300px solid #4a4a4a;
			border-right: 100px solid transparent;
		}
	}

	@media #{$max-481} {
		.verbiage {
			left: 5%;
			bottom: 2%;
			top: initial;
		}
	}
}

