@import "../../settings/_settings.scss";

body#index {
	
	header {
		background: url('/img/index/landing/header/escape-artist@2001.jpg') no-repeat;
		background-position: right top;
		height: 670px;
		border-bottom: 30px solid $base-white;
		
		nav {
			margin-bottom: 100px;
		}

		#contact-info {
			top: 0;
			position: relative;
		}
	}
	
	footer {
		height: 150px;
	}

}

section.bio {
	height: 530px;

	article.verbiage {
		height: 500px;
	}
}

section.quoted {
	background-position: center top;
	height: 300px;
}