$max-481: 'only screen and (max-width : 481px)';

body#index {
	background: $base-white;
}

#index {
	aside {
		position: absolute;

		a {
			color: #fff;
		}
	}
}

.gallery-link#linear-abstraction,
section.bio {
	aside {
		bottom: rem-calc(15);
		left: rem-calc(30);
	}
}

#index header,
.gallery-link#lyrical-abstraction {
	aside {
		top: rem-calc(30);
		right: rem-calc(30);
	}
}

@include media($medium) {
	aside {
		a {
			font-size: rem-calc(20);
		}
	}
}

@media #{$max-481} {
	aside {
		a {
			font-size: rem-calc(16);
		}
	}
}


@import 'landing/_landing.scss';
@import 'gallery-link/_gallery-link.scss';
@import '_bio.scss';
@import '_quotes.scss';
