@import "../../settings/_settings.scss";

$max-481: "only screen and (max-width : 481px)";

body#index {
	background: $base-white;
}

#index {
	aside {
		position: absolute;
		
		a {
			color: #fff;
		}
	}
}

.gallery-link#linear-abstraction,
section.bio {
	aside {
		bottom: em(15);
		left: em(30);
	}
}

#index header,
.gallery-link#lyrical-abstraction {
	aside {
		top: em(30);
		right: em(30);
	}
}

@include media($medium) {
	aside {
		a {
			font-size: rem(20);
		}
	}
}

@media #{$max-481} {
	aside {
		a {
			font-size: rem(16);
		}
	}
}


@import "landing/_landing.scss";
@import "_gallery-link.scss";
@import "_bio.scss";
@import "_quotes.scss";
@import "_footer.scss";