@import "../../settings/_settings.scss";

#index {
	header {
		height: em(700);
		background: url('/img/index/landing/escape-artist/escape-artist.jpg') no-repeat;
		background-position: right top;
		border-bottom: em(30) solid $base-white;
		position: relative;

		.verbiage {
			position: absolute;
			height: 100%;
			left: 0;
			padding: em(150) 0 0 em(40);
			z-index: 10;

			h1,
			h2 {
				display: block;
			}

			h2#painter {
				font-size: $h3-size;
				margin-bottom: rem(60);
			}
		}

		nav {
			ul.vertical-list {
				list-style-type: none;
				padding: 0;
				li {
					display: block;
					a {
						text-decoration: none;
						font-size: rem(26);

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		#contact-info {
			.row {
				h4 {
					display: inline-block;
				}
				h4#phone {
					margin-right: rem(40);
				}
			}
			position: absolute;
			bottom: em(16);
			display: block;
		}

		aside {
			position: absolute;
			top: em(30);
			right: em(60);
			color: #222;
		}
	}
}

.angled-div#landing {
	width: em(380);
	height: em(670);
	background: $base-white;
	top: 0;
	left: 0;
	margin-right: em(150);
}

.angled-div#landing:after {
    border-top: 0 solid transparent;
    border-bottom: 670px solid $base-white;
    border-left: 0 solid transparent;
    border-right: 150px solid transparent;
	right: -150px;
	top: 0;
}

