@import "../../settings/_settings.scss";

$max-2001: "only screen and (max-width : 2001px)";
$max-1601: "only screen and (max-width : 1601px)";
$max-1101: "only screen and (max-width : 1101px)";
$max-881: "only screen and (max-width : 881px)";

#index {
	header {
		background: url('/img/index/landing/header/escape-artist@max.jpg') no-repeat;
		background-position: right top;
		background-size: 75%;

		@media #{$max-2001} {
			background: url('/img/index/landing/header/escape-artist@2001.jpg') no-repeat;
			background-position: right top;
		}

		@media #{$max-1601} {
			background: url('/img/index/landing/header/escape-artist@1601.jpg') no-repeat;
			background-position: right top;
			background-size: inherit;
		}

		height: em(700);
		border-bottom: em(30) solid $base-white;
		position: relative;

		.verbiage {
			position: absolute;
			height: 100%;
			left: 0;
			padding: em(150) 0 0 em(40);
			z-index: 10;

			h1,
			h2 {
				display: block;
			}

			h1 {
				font-size: rem(72);

				span {
					font-size: rem(40);
				}
			}

			h2 {
				font-size: rem(45);
				margin-bottom: rem(60);
			}
		}

		nav {
			ul.vertical-list {
				list-style-type: none;
				padding: 0;
				li {
					display: block;
					a {
						font-size: rem(26);
					}
				}
			}
		}

		#contact-info {
			.row {
				h4 {
					display: inline-block;
				}
				h4#phone {
					margin-right: rem(40);
				}
			}
			position: absolute;
			bottom: em(16);
			display: block;
		}

		@include media($large) {
			height: em(550);
			background: url('/img/index/landing/header/escape-artist@large.jpg') no-repeat;
			background-position: right top;

			.verbiage {
				padding-top: em(50);
			}
		}

		@media #{$max-881} {
			h1 {
				font-size: rem(55);
			}

			h2 {
				font-size: rem(26);
			}
			nav {
				ul.vertical-list {
					li {
						a {
							font-size: rem(22);
						}
					}
				}
			}

			aside {
				top: em(10);
				right: em(10);
			}

			#contact-info {
				.row {
					h4 {
						display: block;
						font-size: rem(20);
					}
					h4#phone {
						margin-right: 0;
					}
				}
			}
		}
	}
}

.angled-div#landing {
	width: 30%;
	height: em(670);
	background: $base-white;
	top: 0;
	left: 0;
	margin-right: em(150);
}

.angled-div#landing:after {
    border-top: 0 solid transparent;
    border-bottom: 670px solid $base-white;
    border-left: 0 solid transparent;
    border-right: 150px solid transparent;
	right: -150px;
	top: 0;
}

@media #{$max-1101} {
	.angled-div#landing {
		width: 20%;
	}
}

@include media($large) {
	.angled-div#landing {
		height: em(550);
	}
	.angled-div#landing:after {
		border-bottom: 550px solid $base-white;
	}
}