@font-face {
  font-family: 'Nexa Bold';
  src: url('nexa-bold.eot'); /* IE9 Compat Modes */
  src: url('nexa-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('nexa-bold.woff') format('woff'), /* Modern Browsers */
       url('nexa-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('nexa-bold.svg#47bebd947bc9776ca33e78f4df905448') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

