@import "../../../settings/_settings.scss";

$max-1501: "only screen and (max-width : 1501px)";
$max-880: "only screen and (max-width : 880px)";
$max-481: "only screen and (max-width : 481px)";




.gallery-link#mindscapes {
	height: em(460);
	border-bottom: em(20) solid #4a4a4a;

	background: url('/img/index/gallery-link/mindscapes/netherworld.jpg') no-repeat;
	background-position: left top;
	
	background-size: 85%;

	@media #{$max-1501} {
		background-size: inherit;
	}

	.verbiage {
		text-align: right;
		position: absolute;
		right: 4%;
		top: 23%;
		z-index: 10;
	}

	.angled-div {
		right: 0;
		top: 0;
		margin-left: em(150);
	}
	.angled-div:after {
		left: -150px;
		top: 0;
	    border-top: 460px solid #4a4a4a;
	    border-bottom: 0 solid transparent;
	    border-left: 150px solid transparent;
	    border-right: 0 solid transparent;
	}

	@include media($large) {
		.verbiage {
			padding-top: em(60);
		}
	}

	@media #{$max-880} {
		background: url('/img/index/gallery-link/mindscapes/netherworld%40mobile.jpg') no-repeat;
		background-position: left top;
	}

	@include media($small-plus) {
		height: em(300);

		.verbiage {
			padding: 0;
			top: em(40);
			right: em(40);
		}

		.angled-div {
			margin-left: em(100);
		}

		.angled-div:after {
			left: -100px;
			border-top: 300px solid #4a4a4a;
			border-left: 100px solid transparent;
		}
	}

	@media #{$max-481} {
		.verbiage {
			right: 5%;
		}

		aside {
			left: rem(12);
			bottom: rem(4);
		}
	}
}


