$max-1101: 'only screen and (max-width : 1101px)';
$max-601: 'only screen and (max-width : 601px)';
$max-481: 'only screen and (max-width : 481px)';
$max-401: 'only screen and (max-width : 401px)';

.angled-div#landing {
	width: 30%;
	height: rem-calc(670);
	background: $base-white;
	top: 0;
	left: 0;
	margin-right: rem-calc(150);
}

.angled-div#landing:after {
	border-top: 0 solid transparent;
	border-bottom: 670px solid $base-white;
	border-left: 0 solid transparent;
	border-right: 150px solid transparent;
	right: -150px;
	top: 0;
}

@media #{$max-1101} {
	.angled-div#landing {
		width: 20%;
	}
}

@include media($large) {
	.angled-div#landing {
		height: rem-calc(550);
	}
	.angled-div#landing:after {
		border-bottom: 550px solid $base-white;
	}
}

@include media($small-plus) {
	.angled-div#landing {
		top: 60%;
		width: 100%;
		height: 40%;
	}
	.angled-div#landing:after {
		border: none;
	}
}

@media #{$max-601} {
	.angled-div#landing {
		top: 55%;
		height: 45%;
	}
}

@media #{$max-481} {
	.angled-div#landing {
		top: 50%;
		height: 50%;
	}
}

@media #{$max-401} {
	.angled-div#landing {
		top: 45%;
		height: 55%;
	}
}
