@import "../../../settings/_settings.scss";

$max-2001: "only screen and (max-width : 2001px)";
$max-1601: "only screen and (max-width : 1601px)";


#index {
	header {
		background: url('/img/index/landing/header/escape-artist@max.jpg') no-repeat;
		background-position: right top;
		background-size: 75%;

		@media #{$max-2001} {
			background: url('/img/index/landing/header/escape-artist@2001.jpg') no-repeat;
			background-position: right top;
		}

		@media #{$max-1601} {
			background: url('/img/index/landing/header/escape-artist@1601.jpg') no-repeat;
			background-position: right top;
			background-size: inherit;
		}

		height: em(700);
		border-bottom: em(30) solid $base-white;
		position: relative;

		@include media($large) {
			height: em(550);
			background: url('/img/index/landing/header/escape-artist@large.jpg') no-repeat;
			background-position: right top;
		}

		@include media($small-plus) {
			background: url('/img/index/landing/header/escape-artist@mobile.jpg') no-repeat;
			background-position: center top;
			border-bottom: 0;
		}
	}
}

