@import '_angles.scss';
@import '_heaven-of-the-ordinary.scss';
// @import "_escape-artist.scss";



$max-881: 'only screen and (max-width : 881px)';
$max-601: 'only screen and (max-width : 601px)';
$max-481: 'only screen and (max-width : 481px)';
$max-401: 'only screen and (max-width : 401px)';


#index {
	header {
		height: rem-calc(700);
		border-bottom: rem-calc(30) solid $base-white;
		position: relative;

		.verbiage {
			position: absolute;
			height: 100%;
			left: 0;
			padding: rem-calc(80) 0 0 rem-calc(40);
			z-index: 10;

			h1,
			h2 {
				display: block;
			}

			h1 {
				font-size: rem-calc(72);

				span {
					font-size: rem-calc(40);
				}
			}

			h2 {
				font-size: rem-calc(45);
				margin-bottom: rem-calc(60);
			}
		}

		nav {
			ul.vertical-list {
				list-style-type: none;
				padding: 0;
				li {
					display: block;
					margin-bottom: rem-calc(10);

					a {
						font-size: rem-calc(26);
					}
				}
			}
		}

		#contact-info {
			.row {
				h4 {
					display: inline-block;
				}
				h4#phone {
					margin-right: rem-calc(40);
				}
			}
			position: absolute;
			bottom: rem-calc(60);
			display: block;
		}

		@include media($large) {
			height: rem-calc(550);

			.verbiage {
				padding-top: rem-calc(10);

				h1 {
					font-size: rem-calc(60);

					span {
						font-size: rem-calc(32);
					}
				}

				h2 {
					font-size: rem-calc(40);
					margin-bottom: rem-calc(30);
				}
			}

			#contact-info {
				h4,
				.row h4 {
					font-size: rem-calc(20);
					display: block;
				}
				h4#phone {
					margin-right: 0;
				}
			}
		}

		@media #{$max-881} {
			.verbiage {
				h1 {
					font-size: rem-calc(44);

					span {
						font-size: rem-calc(22);
					}
				}
				h2 {
					font-size: rem-calc(30);
				}
			}
			nav {
				ul.vertical-list {
					li {
						a {
							font-size: rem-calc(22);
						}
					}
				}
			}

			aside {
				top: rem-calc(10);
				right: rem-calc(10);
			}

			#contact-info {
				h4,
				.row h4 {
					font-size: rem-calc(18);
				}
			}
		}

		@include media($small-plus) {
			// 701px
			border-bottom: 0;

			nav,
			#contact-info {
				display: inline-block;
			}

			.verbiage {
				padding: 0;
				width: 100%;
				top: 50%;
				padding: 0 3%;
				height: 45%;

				h1 {
					color: #fff;
					margin-bottom: rem-calc(20);
				}

				h2 {
					margin-bottom: 0;
				}

				#contact-info {
					top: rem-calc(140);
				}
			}

			aside {
				top: rem-calc(10);
				right: rem-calc(10);
			}

			nav {
				display: block;

				ul.vertical-list {
					margin-bottom: rem-calc(36);

					li {
						margin-bottom: rem-calc(6);

						a {
							font-size: rem-calc(18);
						}
					}
				}
			}

			#contact-info {
				text-align: right;
				right: 7%;

				.row {
					h4#phone {
						margin-right: 0;
					}
				}
			}
		}

		@media #{$max-601} {
			.verbiage {
				height: 44%;
				top: 46%;

				h1 {
					font-size: rem-calc(40);
					margin-bottom: rem-calc(10);
				}

				h2 {
					font-size: rem-calc(25);
				}
			}

			#contact-info {
				display: block;

				.row h4,
				h4 {
					font-size: rem-calc(16);
					margin-bottom: rem-calc(5);
				}
			}
		}

		@media #{$max-481} {
			height: rem-calc(520);

			.verbiage {
				top: 40%;
				height: 60%;

				h1 {
					font-size: rem-calc(35);

					span {
						font-size: rem-calc(18);
					}
				}
			}
		}

		@media #{$max-401} {
			.verbiage {
				top: 35%;
				height: 65%;

				h2 {
					font-size: rem-calc(20);
				}

				#contact-info {
					left: 0;
					text-align: left;
					position: relative;
					top: 0;
				}
			}
		}
	}
}
