@import "../../settings/_settings.scss";

.event-entry#ghaa-2015 {
	height: em(300);

	.feature-date {
		background: url('/img/upcoming-events/default/under-cover-of-night.jpg') no-repeat;
		background-position: left top;
		background-size: auto;

		p,
		p a {
			color: #fff;
		}
	}
}

.event-entry#andover-aitp-2015 {
	height: em(300);

	.feature-date {
		background: url('/img/upcoming-events/default/travel-markings.jpg') no-repeat;
		background-position: left top;
		background-size: auto;

		p,
		p a {
			color: #000;
		}
	}
}

