$max-1020: "only screen and (max-width : 1020px)";
$max-740: "only screen and (max-width : 740px)";
$max-560: "only screen and (max-width : 560px)";
$max-470: "only screen and (max-width : 470px)";

.event-entry#ghaa-2015 {
	height: em(300);

	.feature-date {
		background: url('/img/upcoming-events/default/under-cover-of-night.jpg') no-repeat;
		background-position: left top;
		background-size: auto;

		p,
		p a {
			color: #fff;
		}
	}

	@media #{$max-1020} {
		height: em(490);
	}

	@media #{$max-740} {
		height: em(580)
	}

	@media #{$max-560} {
		height: em(500)
	}

	@media #{$max-470} {
		height: em(560)
	}
}

.event-entry#andover-aitp-2015 {
	height: em(300);

	.feature-date {
		background: url('/img/upcoming-events/default/travel-markings.jpg') no-repeat;
		background-position: left top;
		background-size: auto;

		p,
		p a {
			color: #fff;
		}
	}

	@media #{$max-1020} {
		height: em(490);
	}

	@media #{$max-740} {
		height: em(580)
	}

	@media #{$max-560} {
		height: em(500)
	}

	@media #{$max-560} {
		height: em(560)
	}
}

