@import "../../settings/_settings.scss";

#upcoming-events {
	main {
		padding: 0 em(28);

		h2 {
			text-align: center;
			font-size: $h1-size;
			margin-bottom: rem(40);
		}
	}
}

.event-entry {
	background: #fff;
	margin-bottom: em(60);
	box-shadow: $shadow-z-3;
	border-radius: em(5);
	border-right: em(5) solid #fff;
	height: 300px;
	@include span-columns(14 of 16);
	@include shift(1);
	position: relative;

	.feature-date {
		position: absolute;
		height: 100%;
		width: 100%;
		border-radius: em(5);

		p.header {
			font-size: rem(58);
			position: relative;
			top: rem(24);
			left: 2%;
		}

		p#painting-title {
			font-family: $header-font-family;
			position: absolute;
			left: 2%;
		}
	}

	.angled-div {
		right: 620px;
		top: 0;
		margin-left: em(150);
	}

	.angled-div:after {
		left: -120px;
		top: 0;
	    border-top: 0 solid transparent;
	    border-bottom: 300px solid #fff;
	    border-left: 120px solid transparent;
	    border-right: 0 solid transparent;
	}

	.event {
		background: #fff;
		padding-top: em(24);
		max-width: em(620);
		width: 100%;
		position: absolute;
		right: 0;
		height: 100%;
		text-align: center;

		h3 {
			margin-bottom: rem(26);
		}
	}

	.row#details {
		margin-bottom: em(30);
	}

	.verbiage {
		width: 49%;
	}

	.verbiage#when {
		float: left;

		p#date {
			font-size: rem(30);
			margin-bottom: rem(10);
		}

		p#time {
			font-size: rem(22);
			margin-bottom: 0;
		}
	}

	.verbiage#where {
		float: right;

		p#address {
			font-size: rem(22);
			margin-bottom: 0;
		}
	}

	.row#extras {
		p {
			font-size: rem(22);
			margin-bottom: 0;

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

@import "_event-entries.scss";