@import "../settings/_settings.scss";

.angled-div {
	position: absolute;
	z-index: 5;
}

.angled-div:after {
	position: absolute;
	z-index: 5;
	content: '';
	line-height: 0;
	font-size: 0;
	width: 0;
	height: 0;
}