@import "../settings/_settings.scss";


body {
	background: $base-white url('/img/assets/backgrounds/right-top.png') no-repeat;
	background-position: right top;
}

img#wpstats {
	visibility: hidden !important;
	display: none !important;
}