button {
	border: none;
}

a.button,
button {
	cursor: pointer;
	line-height: normal;
	position: relative;
	text-align: center;
	display: inline-block;
	border-radius: rem-calc(5);
	font-size: $h4-size; // 21px
	padding: rem-calc(16) rem-calc(32);
	text-decoration: none;
	color: #fff;
	background-color: #777;

	// @include transition (background-color 200ms ease-out 0s);
	// @include transition (color 200ms ease-out 0s);

	&:hover {
		color: #000;
		background-color: #ccc;
	}

	// @include media($medium) {
	@media #{$medium} {
		font-size: $h5-size;
		padding: rem-calc(13) rem-calc(21) rem-calc(16);
	}
}
